.Rproj.user
.Rhistory
.RData
.Ruserdata
tutorials/test_driveR3/test_driveR3.Rmd
tutorials/test_driveR3/test_driveR3.html
tutorials/test_driveR3/Model_Organisms_Drosophila.Rmd
tutorials/test_driveR3/Model_Organisms_Drosophila.html
tutorials/Model_Organisms_Drosophila-dev/css/cmoor.css
tutorials/Model_Organisms_Drosophila-dev/images/cmoor_logo.png
tutorials/Model_Organisms_Drosophila-dev/images/cmoor_logo_notext.png
tutorials/Model_Organisms_Drosophila-dev/images/Drosophila_Life_Cycle.png
tutorials/Model_Organisms_Drosophila-dev/images/fly_human_organs.jpg
tutorials/Model_Organisms_Drosophila-dev/images/fly_life_cycle.png
tutorials/Model_Organisms_Drosophila-dev/images/flybase_disease_models.png
tutorials/Model_Organisms_Drosophila-dev/images/fruit_fly.jpg
tutorials/Model_Organisms_Drosophila-dev/Model_Organisms_Drosophila.html
tutorials/Model_Organisms_Drosophila-dev/Model_Organisms_Drosophila.Rmd
